<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Speaker Recognition</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Simple Recorder.js demo with record, stop and pause - addpipe.com -->
	<!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<style>
	  p{
		margin-top: 3rem;
	  }
	  section {
		margin: 2%;
		text-align: center;
	  }
	  body {
		margin: auto;
		width: 100%;
		height: 100%;
		margin-top: 5%;
		/* border: 3px solid green; */
	  }
	  h1 {
		font-size: 220%;
		font-weight: bold;
	  }
	  .cyan {
		color: #4db6ac;
	  }
	  #controls {
		display: flex;
		margin-top: 2rem;
		justify-content: center;
	  }
	  button {
		height: 10rem;
		width: 10rem;
		border: none;
		border-radius: 50%;
		background: #4db6ac;
		margin-left: 15px;
		box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
		cursor: pointer;
		color:#ffffff;
		font-weight: bold;
		font-size: 3rem;
	  }

	  button:hover, button:focus {
		outline: none;
		background: #4db6ac;
	  }

	  button::-moz-focus-inner {
		border: 0;
	  }

	  button:active {
		box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
		line-height: 3rem;
	  }

	  button:disabled {
		pointer-events: none;
		background: lightgray;
	  }
	  button:first-child {
		margin-left: 0;
	  }
	  audio {
		display: block;
		margin-top: 0.2rem;
	  }
	  ol{
		margin: auto;
	  }
	  li {
		text-align: center;
		list-style: none;
	  } 
	  #recordingsList{
		max-width: 28em;
	  }
	</style>
  </head>
  <body>
	<section id="main">
		<h1 class="cyan">Closed Set Speaker Recognition</h1>
		  <div id="controls">
		   <button class="fas fa-microphone" id="recordButton"></button>
		   <button class="fas fa-pause" id="pauseButton" disabled></button>
		   <button class="fas fa-stop" id="stopButton" disabled></button>
		</div>
		<p><strong>Recordings:</strong></p>
		<ol id="recordingsList"></ol>
		<hr>
		<h1 class="cyan">Predicted Output :</h1>
		<div id="result"></div>
	</section>
    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
  	<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
  </body>
  <!-- for $ajax -->
  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script>
//webkitURL is deprecated but nevertheless
URL = window.URL || window.webkitURL;

var gumStream; 						//stream from getUserMedia()
var rec; 							//Recorder.js object
var input; 							//MediaStreamAudioSourceNode we'll be recording

// shim for AudioContext when it's not avb.
var AudioContext = window.AudioContext || window.webkitAudioContext;
var audioContext //audio context to help us record

var recordButton = document.getElementById("recordButton");
var stopButton = document.getElementById("stopButton");
var pauseButton = document.getElementById("pauseButton");

//add events to those 2 buttons
recordButton.addEventListener("click", startRecording);
stopButton.addEventListener("click", stopRecording);
pauseButton.addEventListener("click", pauseRecording);

function startRecording() {
	console.log("recordButton clicked");
	/*
		Simple constraints object, for more advanced audio features see
		https://addpipe.com/blog/audio-constraints-getusermedia/
	*/
    var constraints = { audio: true, video:false }

 	/*
    	Disable the record button until we get a success or fail from getUserMedia()
	*/

	recordButton.disabled = true;
	stopButton.disabled = false;
	pauseButton.disabled = false

	/*
    	We're using the standard promise based getUserMedia()
    	https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia
	*/

	navigator.mediaDevices.getUserMedia(constraints).then(function(stream) {
		console.log("getUserMedia() success, stream created, initializing Recorder.js ...");

		/*
			create an audio context after getUserMedia is called
			sampleRate might change after getUserMedia is called, like it does on macOS when recording through AirPods
			the sampleRate defaults to the one set in your OS for your playback device
		*/
		audioContext = new AudioContext();

		/*  assign to gumStream for later use  */
		gumStream = stream;

		/* use the stream */
		input = audioContext.createMediaStreamSource(stream);

		/*
			Create the Recorder object and configure to record mono sound (1 channel)
			Recording 2 channels  will double the file size
		*/
		rec = new Recorder(input,{numChannels:1})

		//start the recording process
		rec.record()

		console.log("Recording started");

	}).catch(function(err) {
	  	//enable the record button if getUserMedia() fails
    	recordButton.disabled = false;
    	stopButton.disabled = true;
    	pauseButton.disabled = true
	});
}

function pauseRecording(){
	console.log("pauseButton clicked rec.recording=",rec.recording );
	if (rec.recording){
		//pause
		rec.stop();
		pauseButton.classList.add('fa-play');
		pauseButton.classList.remove('fa-pause');
	}else{
		//resume
		rec.record()
		pauseButton.classList.add('fa-pause');
		pauseButton.classList.remove('fa-play');

	}
}

function stopRecording() {
	console.log("stopButton clicked");

	//disable the stop button, enable the record too allow for new recordings
	stopButton.disabled = true;
	recordButton.disabled = false;
	pauseButton.disabled = true;

	//reset button just in case the recording is stopped while paused
	pauseButton.classList.add('fa-pause');
	pauseButton.classList.remove('fa-play');


	//tell the recorder to stop the recording
	rec.stop();

	//stop microphone access
	gumStream.getAudioTracks()[0].stop();

	//create the wav blob and pass it on to createDownloadLink
	rec.exportWAV(createDownloadLink);
}

function createDownloadLink(blob) {

	var url = URL.createObjectURL(blob);
	var au = document.createElement('audio');
	var li = document.createElement('li');

	//name of .wav file to use during upload and download (without extendion)
	var filename = new Date().toISOString();

	//add controls to the <audio> element
	au.controls = true;
	au.src = url;

	//add the new audio element to li
	li.appendChild(au);
	var fd=new FormData();
    fd.append("audio_data",blob, filename);
	$.ajax({
	   	type: "POST",
	   	url: "/predict",
	   	data: fd,
	   	processData: false,
        contentType: false,
	   	success: function(data){
	   		$('#result').html(data);
			$.ajax({
				type: "POST",
				url: "/pie",
				data: "hello",
				success: function(data){
					var im = document.createElement('img');
					im.src = "/pie";
					im.style = "width:40%;"
					document.getElementById('main').appendChild(im)
				}
			});
	   	}
	});
	//add the li element to the ol
	recordingsList.appendChild(li);
}

</script>
</html>